// В этом файле должны быть стили для БЭМ-блока top-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-contacts {

  $block-name:                &; // #{$block-name}__element

  font-size: 1.286em;
  line-height: 1.4;
  font-style: italic;
  margin-bottom: 25px;

  &__title {
    color: $color-main;
  }
  &__el {
    color: #fff;
  }

  @media (max-width: $screen-md) {
    font-size: 2em;
  }

}
