// В этом файле должны быть стили для БЭМ-блока about-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-info {

  $block-name:                &; // #{$block-name}__element

  p {
    margin-top: 0;
    margin-bottom: 2em;
    line-height: 1.6;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $color-second;
    font-size: 0.857em;
  }

  @media (max-width: $screen-lg) {
    margin-bottom: 25px;
  }

}
