// В этом файле должны быть стили для БЭМ-блока form-application, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-application {

  $block-name:                &; // #{$block-name}__element
  @include row;
  max-width: 600px;
  margin: 0 auto 2em auto;

  &__field {
    @include col();
    @include col(lg, 4);
    margin-bottom: 1em;

    .field-actions,
    .field-text {
      margin-bottom: 0;
      margin-top: 0;
    }

  }

}
